@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');

* {
  font-family: Lato;
  align-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  background-color: var(--brand-colorNavBar);
  font: Lato;
  color: black;
  min-height: 10px;
  top: 0px;
  font-size: 20px;
  width: 100%;
  /* margin-bottom: 5px; */

}


h1,
h2,
h3,
h4,
h5 {

    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;

}

p, div {
  font-family: Lato;
  font: black;
  align-items: center;

}

.nav-links{
  font: Lato;
  color:  black;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.websiteStyle {
  font: Lato;

}

.introStyle{
  font: Lato;
  background-color: var(--brand-colorIntroSection);
  padding: 20px;
  height: 100%;

    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 5px;
    grid-auto-rows: minmax(auto, auto);
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;

}

.packageStyle{
  font: Lato;
  background-color: var(--brand-colorPackageSection);
  padding: 20px;
  height: 100%;

    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
    grid-auto-rows: minmax(auto, auto);
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;

}

.picture {
  display: inline-block;
  -ms-flex-align: center;

  border-radius: 50%; 
  width: 220px;
  height: 220px;
  

}

  .footer{

    background-color: #0492C2;
    color:black;
    font-family: Lato;
    font-size: 10px;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    
  }

.button {
  background-color: #0492C2;
  border: none;
  color: black;
  margin: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}


  @media (min-width: 750px) {

    .websiteStyle {
      
      display: grid;
      grid-template-columns: 1fr 1fr;
    
    }


    .picture {

        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        border-radius: 50%;
        width: 420px;
        height: 420px;
        margin-right: 10px;
        align-items: center;

    }


}